.slideshow {
    position: relative;
    width: 100%;
    height: 550px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.9);
  } 
 
    
  .slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: background-image 3s ease-in-out; 
    background-color: rgba(0, 0, 0, 0.9);
  }
  
    
  @media (max-width: 600px) {
        .slideshow {
        height: 300px;
    }

    h1 {
        font-size: 14px; 
        top: 34%; 
    }

    .slide {
      filter: brightness(80%); 
  }
  }


