  .footer {
    background:  #3a7f7b; 
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-family: "Montserrat", serif;
    border-top: 1px solid #fff;
    max-width: 100%;
    margin: 0 auto;
      }
  
  .footer-content {
    max-width: 1100px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
  }
  
  .footer-left {
    flex: 1;
    padding: 10px;
    text-align: left; 
    margin-right:200px;
    display:flex;
    justify-content: center;
    flex-direction: column;
  }

  .footer-right{
    display:flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    text-align: left; 
    margin-left:200px;
  } 
  
  .footer-left h4, .footer-right h4 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .footer-left ul, .footer-right ul {
    padding: 0;
    margin: 0;
    list-style-type: none; 
  }
  
  .footer-left li, .footer-right li {
    margin-bottom: 5px; 
  }
  
  .footer-links {
    list-style: none;  
    padding: 0;
    margin: 0;         
    display: flex;
    gap: 10px;
    justify-content: center;
    
  }
  
  .footer-links li {
    display: inline; 
  }
  
  .footer-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .footer-links li a:hover {
    color: #00bcd4;
    transform: scale(1.1);
  }
  
  .footer-bottom {
    margin-top: 10px; 
    font-size: 12px;
    color: #ccc;
    line-height: 2;
  }
  
  .footer-bottom p {
    margin: 0; 
    line-height:2; 
  }
  
  .footer-bottom .footer-links {
    list-style: none;  
    padding: 20; 
    margin: 0;  
  }

  .logo{
    width:100px;
    margin-bottom:60px;
  }


@media (max-width: 768px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;  
    gap:10px;
  }

  .footer-left, .footer-right {
    padding: 5px;
    text-align: center;  
    margin: 0;
    width: 100%;  
  }

  .footer-bottom {
    text-align: center; 
  }

  .footer-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px 0;
  }

    .opening-hours li {
    margin: 5px 0;
  }

  .footer-left ul,
  .footer-right ul {
    padding-left: 0;
    list-style-type: none;
  }
}
